<h1>Eat-Da-Burger!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burger}}
          {{#unless this.devoured}}
            <div>
              <form>
                <button type="submit" class='bYouCanEat' data-id="{{id}}" data-devoured="{{devoured}}"> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        {{#each burger}}
          {{#if this.devoured}}
            <div class='bIsEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>You Wanna Add A Burger?</h2>

<div class="row">
  <div class="col s12">
    <form>
      <input type="text" id="name" name="burger_name" placeholder="Your tasty burger recipe">
      <button type="submit" class="burgerSubmit">Post Dat Burger</button>
    </form>
  </div>
</div>